services:
  db:
    image: postgres:17
    container_name: faedoguerra-db
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5433:5432" # expose on port 5433 to access from the outside and avoid conflicts
    volumes:
      - postgres_data:/var/lib/postgresql/data

  cache:
    container_name: faedoguerra-cache
    image: memcached:latest
    expose:
      - 11211

  web:
    build: .
    container_name: faedoguerra-web
    expose:
      - 8000
    depends_on:
      - db
      - cache
    env_file:
      - .env.prod
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      MEMCACHED_HOST: cache
      MEMCACHED_PORT: 11211
    volumes:
      - static_data:/app/staticfiles:z # :z solves some SElinux issues on Fedora

  nginx:
    container_name: faedoguerra-nginx
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static_data:/app/staticfiles:z # same
    depends_on:
      - web

volumes:
  postgres_data:
  static_data:
