{% extends "base.jinja" %}

{% block head %}
  <title>Guerra del Faedo</title>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <link rel="stylesheet" href="/static/styles/dashboard.css">
  <script src="/static/scripts/dashboard.js"></script>
{% endblock %}

{% block content %}
  <div id="top-columns" class="columns-wrapper">
    <div>
      <div id="floor-buttons">
        <button class="theme-button" onclick="redirect_to_floor('');">Generale</button>
        <button class="theme-button" onclick="redirect_to_floor('-1');"><span class="floor-label">Piano</span> -1</button>
        <button class="theme-button" onclick="redirect_to_floor('0');"><span class="floor-label">Piano</span> 0</button>
        <button class="theme-button" onclick="redirect_to_floor('1');"><span class="floor-label">Piano</span> 1</button>
        <button class="theme-button" onclick="redirect_to_floor('2');"><span class="floor-label">Piano</span> 2</button>
        <button class="theme-button" onclick="redirect_to_floor('3');"><span class="floor-label">Piano</span> 3</button>
      </div>

      <div class="full-width-card" id="map-card">
        {% if floor == "" %}
          <div id="general-grid">
            <div>
              <div>
                <h3>Piano -1</h3>
                {% include "/res/svg/floor-1.svg" %}
              </div>
            </div>
            <div>
              <div>
                <h3>Piano 0</h3>
                {% include "/res/svg/floor0.svg" %}
              </div>
              <div>
                <h3>Piano 2</h3>
                {% include "/res/svg/floor2.svg" %}
              </div>
            </div>
            <div>
              <div>
                <h3>Piano 1</h3>
                {% include "/res/svg/floor1.svg" %}
              </div>
              <div>
                <h3>Piano 3</h3>
                {% include "/res/svg/floor3.svg" %}
              </div>
            </div>
          </div>
        {% else %}
          <h1>Piano {{floor}}</h1>

          <div id="svg-wrapper">
            {% include "/res/svg/floor" + (floor|string) + ".svg" %}
          </div>
        {% endif %}
      </div>
    </div>

    <div>
      <div id="ranking-wrapper" class="full-width-card">
        <h1>Classifica</h1>

        <table id="ranking" class="theme-table">
        <thead><tr>
          <td class="tight">Posizione</td><td>Nome</td><td class="tight" id="ranking-rooms-title">Stanze in possesso</td>
        </tr></thead>
        <tbody>
          {% for player in ranking %}
            <tr>
              <td class="tight">{{player.rank}}</td>
              <td>
                <span class="color-square" style="background-color:{{player.color}};"></span>
                <a href="/player/{{player.id}}">{{player.full_name}}</a>
                ({{player.university}})
              </td>
              <td class="tight">{{player.room_count}}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="full-width-card">
    <h1>Statistiche</h1>

    <div id="university-stats-labels">
      <span><span class="color-square" style="background-color:#00819D;"></span> SNS: {{university_stats.sns_percentage}}%</span>
      <span><span class="color-square" style="background-color:#b40010;"></span> SSSUP: {{university_stats.sssup_percentage}}%</span>
    </div>
    <div>
      <span id="sns-slider" style="width:{{university_stats.sns_percentage}}%;"></span><span id="sssup-slider" style="width:{{university_stats.sssup_percentage}}%;"></span>
    </div>
  </div>

  <div class="full-width-card">
    <h1>Ultimi avvenimenti</h1>

    <table class="theme-table">
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{event.time}}</td>
          <td>{{event.announcement | safe}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <script>
    window.onload = () => {
      color_svg({{data | tojson}});
    }
  </script>
{% endblock %}
