{% extends "base.jinja" %}

{% block head %}
  <title>Guerra del Faedo</title>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <link rel="stylesheet" href="/static/styles/dashboard.css">
  <script src="/static/scripts/dashboard.js"></script>
{% endblock %}

{% block content %}
  <div id="top-columns" class="columns-wrapper">
    <div>
      <div id="floor-buttons">
        <button class="theme-button" onclick="window.location.hash = '';">Generale</button>
        <button class="theme-button" onclick="window.location.hash = '-1';"><span class="floor-label">Piano</span> -1</button>
        <button class="theme-button" onclick="window.location.hash = '0';"><span class="floor-label">Piano</span> 0</button>
        <button class="theme-button" onclick="window.location.hash = '1';"><span class="floor-label">Piano</span> 1</button>
        <button class="theme-button" onclick="window.location.hash = '2';"><span class="floor-label">Piano</span> 2</button>
        <button class="theme-button" onclick="window.location.hash = '3';"><span class="floor-label">Piano</span> 3</button>
      </div>

      <div class="full-width-card" id="map-card">
        <div id="general-grid">
          <div>
            <div class="floor-wrapper" id="floor-1-wrapper">
              <h3>Piano -1</h3>
              {% include "/res/svg/floor-1.svg" %}
            </div>
          </div>
          <div>
            <div class="floor-wrapper" id="floor0-wrapper">
              <h3>Piano 0</h3>
              {% include "/res/svg/floor0.svg" %}
            </div>
            <div class="floor-wrapper" id="floor2-wrapper">
              <h3>Piano 2</h3>
              {% include "/res/svg/floor2.svg" %}
            </div>
          </div>
          <div>
            <div class="floor-wrapper" id="floor1-wrapper">
              <h3>Piano 1</h3>
              {% include "/res/svg/floor1.svg" %}
            </div>
            <div class="floor-wrapper" id="floor3-wrapper">
              <h3>Piano 3</h3>
              {% include "/res/svg/floor3.svg" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div id="ranking-wrapper" class="full-width-card">
        <h1>Classifica</h1>

        <table id="ranking" class="theme-table">
        <thead><tr>
          <td class="tight">Posizione</td><td>Nome</td><td class="tight" id="ranking-rooms-title">Stanze in possesso</td>
        </tr></thead>
        <tbody>
          {% for player in ranking %}
            <tr>
              <td class="tight">{{player.rank}}</td>
              <td>
                <span class="color-square" style="background-color:{{player.color}};"></span>
                <a href="/player/{{player.id}}">{{player.full_name}}</a>
                ({{player.university}})
              </td>
              <td class="tight">{{player.room_count}}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>

        <div class="button-wrapper">
          <button class="theme-button" onclick="window.location.href = '/ranking';">Mostra completa</button>
        </div>
      </div>
    </div>
  </div>

  <div id="stats-columns-wrapper" class="columns-wrapper">
    <div>
      <div class="full-width-card">
        <h1>Statistiche</h1>

        <div id="university-stats-labels">
          <span><span class="color-square" style="background-color:#00819D;"></span> SNS: {{university_stats.sns_percentage}}%</span>
          <span><span class="color-square" style="background-color:#b40010;"></span> SSSUP: {{university_stats.sssup_percentage}}%</span>
        </div>
        <div>
          <span id="sns-slider" style="width:{{university_stats.sns_percentage}}%;"></span><span id="sssup-slider" style="width:{{university_stats.sssup_percentage}}%;"></span>
        </div>
      </div>
    </div>

    <div>
      <div class="full-width-card">
        <h1>Replay</h1>

        <div class="replay-slider-wrapper">
          <input type="range" min="0" max="{{replay_data | length}}" value="{{replay_data | length}}" id="replay-slider" oninput="playing = false; update_view(this.value);">
        </div>

        <div class="button-wrapper">
          <button class="theme-button" onclick="replay();">Riproduci</button>
        </div>
      </div>
    </div>
  </div>

  {% if events %}
    <div class="full-width-card">
      <h1>Ultimi avvenimenti</h1>

      <table class="theme-table">
      <tbody>
        {% for event in events %}
          <tr>
            <td>{{event.time}}</td>
            <td>{{event.announcement | safe}}</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>

      <div class="button-wrapper">
        <button class="theme-button" onclick="window.location.href = '/events';">Mostra tutti</button>
      </div>
    </div>
  {% endif %}

  <script>
    const replay_data = {{replay_data | tojson}};
    var previous_pos = {{replay_data | length}};
    var playing = false;

    window.onload = () => {
      window.addEventListener("hashchange", switch_view);
      switch_view();

      color_svg({{data | tojson}});
    }
  </script>
{% endblock %}
