#page-wrapper {
    width: 1400px;
}

#top-columns {
    display: grid;
    grid-template-columns: 850px 550px;
}

#floor-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#floor-buttons > button {
    margin: 4px 6px 0 6px;
}

#general-grid {
    display: grid;
    grid-template-columns: 30% 35% 35%;
}

#general-grid > div {
    display: flex;
    flex-direction: column;
}

#general-grid > div > div {
    margin: 10px 0;
    text-align: center;
}

#general-grid > div:first-child > div {
    margin: auto 0;
}

#general-grid > div > div > * {
    margin: 2px auto;
}

.floor-focused {
    margin: 0 !important;
}

.floor-focused h3 {
    font-size: xx-large;
}

svg {
    width: 90%;
    height: auto;
    display: block;
    user-select: none;
}

.floor-focused svg {
    width: 65%;
}

.svg-text {
    font-size: 90px;
    font-weight: bold;
    dominant-baseline: middle;
    text-anchor: middle;
}

.svg-clickable {
    fill: transparent;
}

.svg-path.blinking {
    animation: blinking_room 2s infinite;
}

@keyframes blinking_room {
    0%   {filter: brightness(1);}
    50%  {filter: brightness(1.4);}
    100% {filter: brightness(1);}
}

#ranking-wrapper {
    margin-top: 0;
}

#ranking-wrapper > h1 {
    margin-bottom: 5px;
}

#ranking-rooms-title {
    max-width: 100px;
    white-space: unset;
}

.color-square {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

#stats-columns-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

#university-stats-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    vertical-align: middle;
}

#sns-stats, #sssup-stats, #other-stats {
    margin: 0 3px;
}

#university-stats-labels > span > * {
    vertical-align: middle;
}

#university-sliders-wrapper > span {
    display: inline-block;
    height: 30px;
    width: 50%;
}

#sns-slider {
    background-color: #00819D;
    border-radius: 8px 0 0 8px;
}

#sssup-slider {
    background-color: #b40010;
    border-radius: 0 8px 8px 0;
}

#other-slider {
    background-color: #ffd54b;
}

#replay-slider-wrapper {
    width: 100%;
}

#replay-slider {
    width: 100%;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

@media screen and (max-width: 1500px) {
    #page-wrapper {
        width: min(1000px, 95%);
    }

    #top-columns {
        display: block;
    }

    #top-columns > * {
        margin-left: 0;
        margin-right: 0;
        overflow: auto;
    }

    #ranking-wrapper {
        margin-top: 20px;
    }

    #ranking-rooms-title {
        max-width: unset;
    }
}

@media screen and (max-width: 1000px) {
    #stats-columns-wrapper {
        display: block;
    }

    #stats-columns-wrapper > * {
        margin-left: 0;
        margin-right: 0;
        overflow: auto;
    }
}

@media screen and (max-width: 800px) {
    svg {
        width: 95%;
    }
    .floor-focused svg {
        width: 85%;
    }
    .floor-label {
        display: none;
    }
}

.embedded-page .full-width-card {
    margin: 5px 0 !important;
}
.embedded-page svg {
    width: 40% !important;
}
.embedded-page .floor-focused h3 {
    font-size: x-large;
}
.embedded-page #ranking-wrapper > h1 {
    margin-bottom: 0;
}
.embedded-page #ranking-body > tr:nth-child(n+7) {
    display: none;
}
.embedded-page .button-wrapper {
    display: none;
}
